body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #28231d;
  
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.headcontainer{

}
.hd1{
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  background-color: #28231d;
  padding: 4px;
  width: 20rem;
  text-align: center;
  
  
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
form{
  background-color: #ffffff;
  width: 34vw;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  
}
.input1{
  width: 14rem;
  padding: 6px;
  
}
.btn{
  width: 8vw;
  padding: 7px;
  background-color: blue;
  color: #ffffff;
  border: 1px solid blue;
}
.avatar{
  margin-top: 6px;
  width: 22vw;
  height: 32vh;
  border-radius: 20px;
}
h3{
  color: #fff;
  background-color: rgb(20, 106, 139);
  width: 12vw;
  margin-left: 50px;
  padding: 6px;
  border-radius: 10px;
}
.dissxn{
  display: flex;
  flex-wrap: wrap;
}
.usercontainer{
  text-align: center;
  width: 34vw;
  height: 70vh;
  background-color: blue;
  margin: auto;
  
}
/* .usercontainer{
  display: none;

} */