body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #28231d;
  
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.headcontainer{

}
.hd1{
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  background-color: #28231d;
  padding: 4px;
  width: 20rem;
  text-align: center;
  margin-bottom: 30px;
  margin: auto;
}
form{
  background-color: #ffffff;
  width: 34vw;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  
}
.input1{
  width: 14rem;
  padding: 6px;
  
}
.btn{
  width: 8vw;
  padding: 7px;
  background-color: blue;
  color: #ffffff;
  border: 1px solid blue;
}